name: CI

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

jobs:
  ci:
    name: Lint, Test & Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Builda imagem
        run: docker compose build dev

      - name: Executa lint
        run: docker compose run --rm dev npm run lint

      - name: Executa testes
        run: docker compose run --rm dev npm run test:ci

      - name: Gera build
        run: docker compose run --rm dev npm run build
